body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --color1: #1E3C72;
    --color2: #fff;
    --color3: #000;
    --bg-img: linear-gradient(to right, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-color: var(--color1);
}
.container{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: var(--color2);
}
h3{
    color: var(--color2);
}
.form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;
}
label{
    color: var(--color2);
    font-weight: 800;
    font-size: 1.2rem;
}
#posts{    
    display: none;
}
#posts div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color1);
    font-weight: 800;
    background-color: var(--color2);
    border-radius: 1rem;
    padding: 1rem;
    outline: .2rem solid var(--color1);
    margin-bottom: 1rem;
}
.options{
    display: flex;
    gap: 1rem;
}
i{
    cursor: pointer;
}
#msg{
    color: red;
}
.msg{
    border-radius: 1rem;
    padding: 1rem;
    outline: .2rem solid var(--color1);
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--color1);
}
.button{
    width: 10rem;
    padding: .6rem;
    border-radius: 4rem;
    background-color: var(--color1);
    border: .2rem solid var(--color2);
    color: var(--color2);
    font-weight: 800;
    font-size: 1rem;
    margin: 0 auto;
    cursor: pointer;
}
.button:hover{
    background-color: var(--color2);
    color: var(--color1);
}